::-webkit-scrollbar{
    /* width: 12.5px; */
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(67, 67, 67);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(50, 50, 50);
}