.ppooff{
    animation: ppooff 6s alternate infinite;
    border: 2px solid red;
}

@keyframes ppooff{
    from{
        backdrop-filter: blur(0px);
    }
    to{
        backdrop-filter: blur(5px);
    }
}