@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    width: 280px;
    height: 400px;
    background-color: rgb(35, 35, 35);
    color: orange;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    cursor: default;
    margin: 0;
    overflow: hidden;
}
::selection{
    color: unset;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    /* box-shadow: 0px 0px 10px 5px rgba(27, 27, 27, 0.5); */
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    /* margin-top: -15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.togglecss{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    width: 98.5%;
    height: 85.8%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}

.togglecss-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: sticky;
    top: -10px;
    background: rgb(35, 35, 35);
    z-index: 8;
    width: 100%;
    box-shadow: 0px 0px 10px 8px rgb(35, 35, 35);
}

.cssfile{
  display: inline-flex;
}

#foo{
    z-index: 1000;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    -moz-transition: transform 1s; 
    -webkit-transition: transform 1s;  
    -ms-transition: transform 1s;  
    -o-transition: transform 1s;  
    transition: transform 1s;  
}