#welcome_screen{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: white;
    z-index: 100;
    margin: 0; padding: 0;
    border: none; outline: none;
    display: flex;
    align-items: center; justify-content: center;
    flex-direction: column;
    transform: translateX(0%);
    opacity: 0;
    animation: welcomeScreenFrame 0s forwards;
}

#welcome_screen>img{
    width: 125px;
    pointer-events: none;
    transform: translateY(17.5px);
    /* animation: welcomeScreenImage 2.5s forwards; */
}

#welcome_screen_title{
    /* display: none; */
    color: black;
    font-size: 35px;
    font-weight: 600;
    transform: translateY(-17.5px);
    opacity: 1;
    /* animation: welcomeScreenText 2.5s forwards; */
}

@keyframes welcomeScreenFrame{
    from{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    95%{
        opacity: 0;
    }
    96%{
        transform: translateX(0%);
        opacity: 0;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes welcomeScreenImage{
    from{
        transform: translateY(25px);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes welcomeScreenText{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(-10px);
        opacity: 1;
    }
}

#welcome_screen_footer{
    position: fixed;
    bottom: 0; left: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(218, 218, 218);
    margin: 0; padding: 0;
    display: flex;
    align-items: center;
    text-indent: 10px;
}

#home{
    transition: .5s;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgb(238, 238, 238);
    z-index: 3;
}

#home_header{
    position: absolute;
    width: 90%;
    top: 20px;
    left: 5%;
    height: auto;
    overflow: hidden;
    z-index: 5;
}

#home_header_title{
    margin-top: 0;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

#home_header_infos{
    color: white;
    font-size: 20px;
    margin-top: -15px;
}

#home_header_infos_link{
    position: absolute;
    right: 0;
    text-decoration: none;
    color: white;
    background: blueviolet;
    padding-left: 12px; padding-right: 12px;
    padding-bottom: 4px;
    padding-top: 1.9px;
    border: none;
    border-radius: 2.5px;
    /* border-radius: 2.5px; */
    transform: translateX(-3px);
    transition: .3s;
}
#home_header_infos_link:hover{
    background-color: rgb(165, 79, 245);
}

#home_header_banner{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 135px;
    overflow: hidden;
    z-index: 4;
    margin: 0; padding: 0;
    display: flex;
    align-items: center; justify-content: center;
    background-color: rgb(31, 31, 31);
}

#home_header_banner_img{
    margin-top: -80px;
    margin-left: -50px;
    width: 125%;
}

#home_news{
    position: absolute;
    top: 150px;
    left: 5%;
    bottom: 15px;
    width: 90%;
    height: auto;
    z-index: 6;
}

.home-news-link{
    text-decoration: none;
}

.home-news-item{
    hyphens: auto;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center; justify-content: center;
    background-color: white;
    background-color: rgb(252, 252, 252);
    color: black;
    border-radius: 4px;
    margin: 0; padding: 0;
    padding-left: 10px; padding-right: 10px;
    margin-top: -15px;
    cursor: pointer;
    /* transform: translateX(-1px); */
    border-left: 5px solid rgba(137, 43, 226, .15);
    transition: .3s;
}
.home-news-item:hover{
    /* transform: translateX(1.5px); */
    border-left-color: rgba(137, 43, 226, .5);
    background-color: white;
}
.home-news-item:active{
    /* transform: translateX(5px); */
    border-color: rgba(128, 128, 128, 1);
    border-left-color: rgba(137, 43, 226, 1);
}

#home_news>hr{
    width: 80%;
    height: 15px;
    margin-top: 7.5px; margin-bottom: 7.5px;
    background-color: rgba(95, 71, 71, 0);
    border: none;
}

.home-news-item-title{
    font-size: 25px;
    font-weight: 600;
    color: blueviolet;
}

.home-news-item-text{
    font-size: 12.5px;
    margin-top: -15px;
}

.home-news-item-infos>span{
    color: rgb(17, 180, 17);
}

#btn_news001{
    margin-top: 0px;
}

#news_panel{
    position: absolute;
    top: 100%; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    z-index: 10;
    transition: .9s;
}

#content_news_panel{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgb(240, 240, 240);
}

#content_news_panel_navbar{
    position: absolute;
    width: 100%;
    height: 50px;
    margin: 0; padding: 0;
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-indent: 15px;
    cursor: pointer;
    transition: .9s;
}
#content_news_panel_navbar:hover{
    background-color: rgb(160, 65, 250);
}
#content_news_panel_navbar:active{
    background-color: rgb(93, 0, 180);
    color: rgb(230, 230, 230);
}

#content_news_panel_news_list{
    position: absolute;
    top: 50px; left: 0;
    width: 100%;
    height: calc(100% - 50px);
    margin: 0; padding: 0;
    overflow-y: auto;
}

#content_news_panel_news_list>ul{
    margin: 0; padding: 0;
}

#content_news_panel_news_list>ul>li{
    margin: 0; padding: 0;
    padding-left: 5%; padding-right: 5%;
    padding-top: 10px; padding-bottom: 10px;
    list-style: none;
    font-size: 15px;
    text-align: justify;
    hyphens: auto;
}

.cnpnl-last-li{
    border-bottom: 2px solid blueviolet;
    box-shadow: 0 6px 0 rgba(137, 43, 226, .25);
}

.cnpnl-date{
    color: rgba(0, 0, 0, .5);
    font-size: 12.5px;
}