@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

@keyframes Opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    width: 280px;
    height: 400px;
    background-color: rgb(35, 35, 35);
    color: orange;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    cursor: default;
    margin: 0;
    overflow: hidden;
    user-select: none !important;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    /* box-shadow: 0px 0px 10px 5px rgba(27, 27, 27, 0.5); */
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 50px;
    /* margin-top: -15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.changelog-article{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 55px;
    width: 98.5%;
    height: 85.8%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
}

.changelog-title{
    font-size: 20px;
    position: sticky;
    top: -10px;
    background: rgb(35, 35, 35);
    /* padding-left: 50px; */
    text-align: center;
    z-index: 8;
    width: 100%;
    box-shadow: 0px 0px 10px 8px rgb(35, 35, 35);
    animation: Opacity 0.5s;
}

.article{
    margin-left: 10px;
    width: 90%;
    position: relative;
    margin-top: -10px;
    /* border: 1px solid white; */
}

.article-title{
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    animation: Opacity 0.6s forwards;
    animation-delay: 0.1s;
}

.article-information{
    color: rgb(187, 187, 187);
    font-size: 15px;
    text-align: center;
    margin-top: -10px;
    opacity: 0;
    animation: Opacity 0.6s forwards;
    animation-delay: 0.2s;
}

.article-image{
    position: absolute;
    bottom: 26px;
    right: 12.5px;
}

.article-content{
    margin-top: 25px;
    color: white;
    font-size: 15px;
    word-spacing: 3px;
    word-wrap: break-word;
    opacity: 0;
    animation: Opacity 0.6s forwards;
    animation-delay: 0.3s;
}

.field{
    font-size: 17px;
    margin-top: 17.5px;
    margin-bottom: -20px;
    color: greenyellow;
    text-decoration: underline 2.5px greenyellow;
    /* position: sticky;
    top: 53px;
    background: rgb(35, 35, 35);
    z-index: 1000; */
}

.article-image{
    margin-left: 10px;
    margin-top: 20px;
    object-fit: cover;
    width: 100%;
    height: 150px;
    position: relative;
    object-position: left bottom;
    border-left: 4px rgb(149, 142, 255) solid;
    border-radius: 3.5px;
}

abbr{
    text-decoration-color: rgba(180, 255, 68, 0.719);
    cursor: help;
}